"*":
  "":
    python:
      source:
        editor:
          autoIndentOnPaste: true
          tabLength: 4
          tabType: "soft"
  "atom-beautify":
    html:
      end_with_newline: true
      wrap_attributes: "force-aligned"
      wrap_line_length: 100
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
  "autocomplete-python":
    useKite: false
    useSnippets: "all"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-gfm"
      "language-python"
    ]
    packagesWithKeymapsDisabled: [
      "tool-bar"
      "standardjs-snippets"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    preferredLineLength: 100
    fontSize: 15
    tabType: "soft"
  "linter-shellcheck":
    enableNotice: true
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm.notes"
    ]
  "project-manager":
    alwaysOpenInSameWindow: true
    environmentSpecificProjects: true
    savePathsRelativeToHome: true
  "terminal-plus":
    core:
      scrollback: 9999
    toggles:
      autoClose: true
      runInsertedText: false
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Top"
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    autoIndentOnPaste: true
    tabLength: 4
    tabType: "soft"
