'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-shift-e': 'editor:select-to-end-of-line'
  'alt-shift-e': 'find-and-replace:use-selection-as-find-pattern'  # was ctrl-e

'atom-workspace atom-text-editor':
  'alt-shift-a': 'core:select-all'  # was ctrl-a
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-shift-a': 'editor:select-to-first-character-of-line'

# great. ctrl-k is delete-to-end-of-line in emacs
# in atom it's a prefix key, so we'd have to remap a lot of keys

# deconflict flex-toolbar and term-02
'atom-workspace':
  'ctrl-alt-t': 'tool-bar:toggle'
'atom-text-editor':
  'alt-shift-t': 'term2:open'
  'alt-shift-\\': 'editor:auto-indent'
