# todo: screen out dependencies

always: [
    atom-keyboard-macros
    autocomplete-paths
    clipboard-plus
    editorconfig
    emacs-plus
    "export-html"
    file-icons
    flex-tool-bar
    jumpy
    last-cursor-position
    minimap
    project-manager
    script
    shell-it
    slickedit-select
    sort-lines
    terminal-plus
    tool-bar
    open-unsupported-files
]

python: [
    Hydrogen
    MagicPython
    autocomplete-python
    linter
    linter-pycodestyle
    linter-pydocstyle
    python-isort
    python-snippets
    python-tools
    python-yapf
    pythonic-atom
    # specify disable language-python??
]

javascript: [
    atom-ternjs
    language-javascript-jsx
]

# active-editor-info
# advanced-open-file
# atom-beautify
# atom-live-grammar-reload
#
# autoclose-html
#
# busy-signal
#
# custom-folds
# disable-keybindings
# django-templates
# go-plus
# goto
# grammar-mode
# intentions
# jumpy
# language-babel
# language-forth
# language-markdown
# language-mips
# language-powershell
# language-svg
# language-utl
#
# linter
# linter-coffeescript
# linter-eslint
# linter-gcc
# linter-jsonlint
# linter-less
# linter-phpcs
# linter-shellcheck
# linter-tidy
# linter-ui-default
# linter-xmllint
# minimap-git-diff
# minimap-linter
# open-html-in-browser
# php-debug
# split-diff
# symbol-quick-pane
