[
  {
    title: "atom_configuration"
    group: "personal"
    paths: [
      "~/Devel/atom/atom_configuration"
    ]
    icon: "icon-settings"
  }
  {
    title: "Townnews Release Notes"
    group: "Townnews"
    paths: [
      "~/Devel/townnews_notes"
    ]
    icon: "graphic/blox_log_plain.svg"
  }
  {
    title: "shared_libraries"
    group: "TN exports"
    paths: [
      "~/Devel/shared_libraries"
    ]
    icon: "icon-repo"
  }
  {
    title: "useful_scripts"
    group: "side-projects"
    paths: [
      "~/bin"
    ]
  }
  {
    title: "utl_indexer"
    group: "side-projects"
    paths: [
      "~/Devel/utl_indexer"
    ]
    icon: "icomoon icomoon-lab"
  }
  {
    title: "utl_lookup"
    group: "side-projects"
    paths: [
      "~/Devel/utl_lookup"
    ]
    icon: "octicon-beaker"
  }
  {
    title: "node_find"
    group: "personal"
    paths: [
      "~/Devel/personal/node_find"
    ]
  }
]
