[
  {
    title: "Badge 2017"
    group: "HackRVA"
    paths: [
      "/home/aflanagan/Devel/hackrva/Harmony-Badge-2017/firmware"
    ]
    icon: "icon-circuit-board"
  }
  {
    title: "Hacker Web"
    group: "HackRVA"
    paths: [
      "/home/aflanagan/Devel/hackrva/hacker-web"
    ]
    icon: "ion-social-html5"
  }
  {
    title: "PyBadge"
    group: "HackRVA"
    paths: [
      "/home/aflanagan/Devel/hackrva/PyBadge"
    ]
    icon: "icon-circuit-board"
  }
  {
    title: "LF Word Count"
    group: "Atom"
    paths: [
      "/home/aflanagan/Devel/atom/lloyd-flanagan-word-count"
    ]
    icon: "atom-icon"
  }
  {
    title: "Atom Configuration"
    group: "Atom"
    paths: [
      "/home/aflanagan/Devel/atom/atom_configuration"
    ]
    icon: "atom-icon"
  }
  {
    title: "Atom Utl"
    group: "Atom"
    paths: [
      "/home/aflanagan/Devel/atom/atom-language-utl"
    ]
    icon: "atom-icon"
  }
  {
    title: "Language Mips"
    group: "Atom"
    paths: [
      "/home/aflanagan/Devel/atom/language-mips"
    ]
    icon: "atom-icon"
  }
  {
    title: "My Website"
    group: "Web"
    paths: [
      "/home/aflanagan/Devel/adrian-l-flanagan"
    ]
    icon: "fa-html5"
  }
  {
    title: "Css Compare"
    group: "Python"
    paths: [
      "/home/aflanagan/Devel/css_compare"
    ]
    icon: "devicon-css3-plain"
  }
  {
    title: "Node Find"
    group: "Node"
    paths: [
      "/home/aflanagan/Devel/node/node_find"
    ]
    icon: "icon-search"
  }
  {
    title: "Bookmark Server"
    group: "Web"
    paths: [
      "/home/aflanagan/Devel/node/bkmk_server"
    ]
    icon: "fa-bookmark"
  }
  {
    title: "Utl Indexer"
    group: "BHMG"
    paths: [
      "/home/aflanagan/Devel/utl_indexer"
    ]
    icon: "fa-server"
  }
  {
    title: "Gmail Intfc"
    group: "Mail"
    paths: [
      "/home/aflanagan/Devel/gmail/mail-electron-intfc"
    ]
    icon: "icon-mail-read"
  }
  {
    title: "Gmail Web Svcs"
    group: "Mail"
    paths: [
      "/home/aflanagan/Devel/gmail/mail-web-srvcs"
    ]
    icon: "icon-mail-read"
  }
]
