[
  {
    title: "Atom Configuration"
    group: "Atom"
    paths: [
      "C:\\Users\\aflanaga\\Documents\\github\\atom\\atom_configuration"
    ]
    icon: "atom-icon"
  }
  {
    title: "Atom Language Utl"
    group: "Atom"
    paths: [
      "C:\\Users\\aflanaga\\Documents\\github\\atom\\atom-language-utl"
    ]
    icon: "atom-icon"
  }
  {
    title: "Utl Indexer"
    group: "BLOX"
    paths: [
        "C:\\Users\\aflanaga\\Documents\\github\\utl_indexer"
    ]
    icon: "mdi mdi-magnet"
  }
  {
    title: "Shared Libraries"
    group: "BH Media"
    paths: [
        "C:\\Users\\aflanaga\\Documents\\github\\shared_libraries"
    ]
    icon: "mdi mdi-magnet"
  }
  {
    title: "Utl Lookup"
    group: "BLOX"
    paths: [
        "C:\\Users\\aflanaga\\Documents\\github\\utl_lookup"
    ]
    icon: "mdi mdi-magnet"
  }
  {
    title: "Gmail Intfc"
    group: "Mail"
    paths: [
        "C:\\Users\\aflanaga\\Documents\\github\\mail-electron-intfc"
    ]
    icon: "icon-mail-read"
  }
  {
    title: "Gmail Web Svcs"
    group: "Mail"
    paths: [
        "C:\\Users\\aflanaga\\Documents\\github\\mail-web-srvcs"
    ]
    icon: "icon-mail-read"
  }
  {
    title: "Badge2017"
    group: "HackRVA"
    paths: [
        "C:\\Users\\aflanaga\\Documents\\github\\hackrva\\Harmony-Badge-2017\\firmware"
    ]
    icon: "mdi mdi-radioactive"
  }
  {
    title: "Symbol Quick Pane"
    group: "Atom"
    paths: [
        "C:\\Users\\aflanaga\\Documents\\github\\atom\\atom-symbol-quick-pane"
    ]
    icon: "atom-icon"
    devMode: true
  }
  {
    title: "Node Find"
    group: "Node"
    paths: [
        "C:\\Users\\aflanaga\\Documents\\github\\node_find"
    ]
    icon: "icon-search"
  }
  {
    title: "Api Helper"
    group: "BH Media"
    paths: [
        "C:\\Users\\aflanaga\\Devel\\api_helper"
    ]
    icon: "devicon-php-plain"
  }
  {
    title: "Realmatch Code"
    group: "BH Media"
    paths: [
        "C:\\Users\\aflanaga\\Documents\\github\\realmatch_code"
    ]
    icon: "devicon-php-plain"
  }
]
