[
  {
    title: "Atom Configuration"
    group: "Atom"
    paths: [
      "C:\\Users\\aflanaga\\Devel\\atom\\atom_configuration"
    ]
    icon: "atom-icon"
  }
  {
    title: "Atom Language Utl"
    group: "Atom"
    paths: [
      "C:\\Users\\aflanaga\\Devel\\atom\\atom-language-utl"
    ]
    icon: "atom-icon"
  }
  {
    title: "Utl Indexer"
    group: "BLOX"
    paths: [
        "C:\\Users\\aflanaga\\Devel\\utl_indexer"
    ]
    icon: "mdi mdi-magnet"
  }
  {
    title: "Shared Libraries"
    group: "BH Media"
    paths: [
        "C:\\Users\\aflanaga\\Devel\\shared_libraries"
    ]
    icon: "mdi mdi-magnet"
  }
  {
    title: "Utl Lookup"
    group: "BLOX"
    paths: [
        "C:\\Users\\aflanaga\\Devel\\utl_lookup"
    ]
    icon: "mdi mdi-magnet"
  }
  {
    title: "Node Find"
    group: "Node"
    paths: [
        "C:\\Users\\aflanaga\\Devel\\node_find"
    ]
    icon: "icon-search"
  }
  {
    title: "Api Helper"
    group: "BH Media"
    paths: [
        "C:\\Users\\aflanaga\\Devel\\api_helper"
    ]
    icon: "devicon-php-plain"
  }
]
