[
  {
    title: "LF Word Count"
    group: "Atom"
    paths: [
      "~/Devel/atom/lloyd-flanagan-word-count"
    ]
    icon: "atom-icon"
  }
  {
    title: "Atom Configuration"
    group: "Atom"
    paths: [
      "~/Devel/atom/atom_configuration"
    ]
    icon: "atom-icon"
  }
  {
    title: "Atom"
    group: "Atom"
    paths: [
      "~/github/atom"
    ]
    icon: "atom-icon"
  }
  {
    title: "Svgmaps"
    group: "BH Media"
    paths: [
      "~/Devel/svgmaps"
    ]
    icon: "icon-tools"
  }
  {
    title: "Atom Language Utl"
    group: "Atom"
    paths: [
      "~/Devel/atom/atom-language-utl"
    ]
    icon: "atom-icon"
  }
  {
    title: "Utl Indexer"
    group: "BLOX"
    paths: [
      "~/Devel/utl_indexer"
    ]
    icon: "fa fa-server"
  }
  {
    title: "Townnews Reader"
    group: "BLOX"
    paths: [
      "~/Devel/townnews_reader"
    ]
    icon: "fa fa-server"
  }
  {
    title: "Shared Libraries"
    group: "BH Media"
    paths: [
      "~/Devel/shared_libraries"
    ]
    icon: "fa fa-server"
  }
  {
    title: "Utl Lookup"
    group: "BLOX"
    paths: [
      "~/Devel/utl_lookup"
    ]
  }
  {
    title: "Bootstrap 3 3 6"
    group: "Frameworks"
    paths: [
      "~/src/bootstrap/bootstrap-3.3.6"
    ]
    icon: "fa fa-bold"
  }
  {
    title: "Gmail Intfc"
    group: "Mail"
    paths: [
      "~/Devel/personal/mail-electron-intfc"
    ]
    icon: "icon-mail-read"
  }
  {
    title: "Hacker Web"
    group: "HackRVA"
    paths: [
      "~/Devel/personal/hackrva/hacker-web"
    ]
    icon: "ion-social-html5"
  }
  {
    title: "Gmail Web Svcs"
    group: "Mail"
    paths: [
      "~/Devel/personal/mail-web-srvcs"
    ]
    icon: "icon-mail-read"
  }
  {
    title: "Badge2017"
    group: "HackRVA"
    paths: [
      "~/Devel/personal/hackrva/Harmony-Badge-2017/firmware"
    ]
    icon: "icon-circuit-board"
  }
  {
    title: "The Jobs Network Widgets"
    group: "BH Media"
    paths: [
      "~/Devel/richmond.com/jobs.thejobnetwork.com"
    ]
    icon: "icon-package"
  }
  {
    title: "Javascript Symbol Ref"
    group: "Atom"
    paths: [
      "~/Devel/atom/javascript-symbol-ref"
      "~/Devel/atom/atom/src"
    ]
    icon: "devicon-javascript-plain"
    devMode: true
  }
  {
    title: "Symbol Quick Pane"
    group: "Atom"
    paths: [
      "~/Devel/atom/symbol-quick-pane"
      "~/Devel/atom/atom/src"
    ]
    icon: "atom-icon"
  }
]
