[
  {
    title: "Badge 2017"
    group: "HackRVA"
    paths: [
      "~/Devel/hackrva/Harmony-Badge-2017/firmware"
    ]
    icon: "icon-circuit-board"
  }
  {
    title: "Hacker Web"
    group: "HackRVA"
    paths: [
      "~/Devel/hackrva/hacker-web"
    ]
    icon: "ion-social-html5"
  }
  {
    title: "PyBadge"
    group: "HackRVA"
    paths: [
      "~/Devel/hackrva/PyBadge"
    ]
    icon: "icon-circuit-board"
  }
  {
    title: "Atom Configuration"
    group: "Atom"
    paths: [
      "~/Devel/atom/atom_configuration"
    ]
    icon: "atom-icon"
  }
  {
    title: "Atom Utl"
    group: "Atom"
    paths: [
      "~/Devel/atom/atom-language-utl"
    ]
    icon: "atom-icon"
  }
  {
    title: "Language Mips"
    group: "Atom"
    paths: [
      "~/Devel/atom/language-mips"
    ]
    icon: "atom-icon"
  }
  {
    title: "My Website"
    group: "Web"
    paths: [
      "~/Devel/adrian-l-flanagan"
    ]
    icon: "fa-html5"
  }
  {
    title: "Css Compare"
    group: "Python"
    paths: [
      "~/Devel/css_compare"
    ]
    icon: "devicon-css3-plain"
  }
  {
    title: "Node Find"
    group: "Node"
    paths: [
      "~/Devel/node/node_find"
    ]
    icon: "icon-search"
  }
  {
    title: "Bookmark Server"
    group: "Web"
    paths: [
      "~/Devel/node/bkmk_server"
    ]
    icon: "fa-bookmark"
  }
  {
    title: "Utl Indexer"
    group: "BHMG"
    paths: [
      "~/Devel/utl_indexer"
    ]
    icon: "fa-server"
  }
  {
    title: "Gmail Intfc"
    group: "Mail"
    paths: [
      "~/Devel/gmail/mail-electron-intfc"
    ]
    icon: "icon-mail-read"
  }
  {
    title: "Gmail Web Svcs"
    group: "Mail"
    paths: [
      "~/Devel/gmail/mail-web-srvcs"
    ]
    icon: "icon-mail-read"
  }
  {
    title: "Pkg Groups"
    group: "Atom"
    paths: [
      "~/Devel/atom/pkg-groups"
      "~/Devel/atom/etch"
    ]
    icon: "atom-icon"
  }
  {
    title: "Atom Perspectives"
    group: "Atom"
    paths: [
      "~/Devel/atom/atom-perspectives"
      "~/Devel/atom/etch"
    ]
    icon: "atom-icon"
  }
]
