* {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" on, "calt" on;
}

atom-text-editor {
  font-family: 'Monoid', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  .cursor-line {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }
}

.tab-bar .tab .title {
  //font-family: 'Monoid', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 120%;
}

//not sure turning off ligatures for find-and-replace box is
//really necessary, trying it out.
div.find-and-replace atom-text-editor .line {
  -webkit-font-feature-settings: "liga" off, "calt" off;
}

//smoother scrolling for mouse wheel
atom-text-editor.editor > div > .scroll-view > div,
atom-text-editor.editor > div > .gutter-container > div {
    transition: -webkit-transform .15s ease;
}

//highlight trailing whitespace.
atom-text-editor {
  div.line:not(.cursor-line) {
    .trailing-whitespace {
      background-color: @background-color-error;
      color: contrast(@background-color-error);
    }
  }
}
