[
  {
    type: "button"
    icon: "document"
    callback: "application:new-file"
    tooltip: "New File"
    iconset: "ion"
  }
  {
    type: "button"
    icon: "folder"
    iconset: "ion"
    tooltip: "Open..."
    callback: "application:open-file"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "navicon-round"
    iconset: "ion"
    tooltip: "Command Palette"
    callback: "command-palette:toggle"
  }
  {
    type: "button"
    icon: "circuit-board"
    callback: "git-diff:toggle-diff-list"
    style:
      color: "#FA4F28"
  }
  {
    type: "button"
    icon: "tools"
    tooltip: "Macros"
    callback: "macros:edit-macros"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "markdown"
    tooltip: "Toggle markdown preview"
    callback: "markdown-preview:toggle"
  }
  # spacer to separate 'updated toolbar' button at end
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "book"
    iconset: "icomoon"
    tooltip: "Save As Project"
    callback: "project-manager:save-project"
  }
  {
    type: "button"
    icon: "books"
    iconset: "icomoon"
    tooltip: "Open Project"
    callback: "project-manager:list-projects"
  }
  {
    type: "spacer"
  }
]
