[
  {
    type: "button"
    icon: "document"
    callback: "application:new-file"
    tooltip: "New File"
    iconset: "ion"
  }
  {
    type: "button"
    icon: "folder"
    iconset: "ion"
    tooltip: "Open..."
    callback: "application:open-file"
  }
  {
    type: "separator"
  }
  {
    type: "button"
    icon: "navicon-round"
    iconset: "ion"
    tooltip: "Command Palette"
    callback: "command-palette:toggle"
  }
  {
    type: "button"
    icon: "circuit-board"
    callback: "git-diff:toggle-diff-list"
    style:
      color: "#FA4F28"
  }
  {
    type: "button"
    icon: "tools"
    tooltip: "Macros"
    callback: "macros:edit-macros"
  }
]
